[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
numpy = "*"
plotly = "*"
scikit-learn = "*"
waitress = "*"
lightgbm = "*"

[dev-packages]

[scripts]
server = "waitress-serve --listen=127.0.0.1:5000 app:app"
