[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
numpy = "*"
plotly = "*"
scikit-learn = "*"
waitress = "*"
lightgbm = "*"

[dev-packages]
