{% extends "base.html" %}

{% block title %}Select plant{% endblock %}

{% block content %}
    <div class="container" style="margin-left:830px; margin-top:200px;">
        <h1 style="font-size:40px; padding-bottom:10px;">Select plant</h1>
        <form action="/process" method="post">
            <input type="hidden" name="file_path" value="{{ file_path }}">
            <input type="hidden" name="sheet" value="{{ sheet }}">
            <div class="mb-4">
              <label for="plant" class="block text-lg font-medium text-gray-700">Plant:</label>
              <select name="plant" id="plant" class="form-select block w-48 rounded-md border border-gray-300 py-2 px-3 text-gray-700 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                {% for column in columns %}
                    {% if column not in ['Date', 'Time'] %}
                        <option value="{{ column }}">{{ column }}</option>
                    {% endif %}
                {% endfor %}
              </select>
            </div>         
            <button type="submit" class="btn btn-outline btn-primary" style="margin-top: 8px;">Process</button>
        </form>
    </div>
{% endblock %}

